/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
ul,
ol {
  list-style-type: none;
}
.header-block {
  height: 100vh;
  position: relative;
  background: url("../images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-block header {
  position: relative;
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(198, 108, 73, 0.3);
}
header .content-wrap .logo {
  order: 2;
}
.icons {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 1rem 0 0;
}
.logo {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: "Montserrat";
  padding-top: 2rem;
  padding-left: 4rem;
  position: absolute;
  color: #fff;
  transition: margin-top 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.main-menu {
  display: flex;
  margin-top: 20px;
  position: absolute;
}
.menu-list {
  /* max-width: 100%px; */
  padding-top: 2.2rem;
  background: transparent;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.menu-list.open {
  opacity: 1;
  transform: translateY(0%);
}
.menu-list li:not(:last-child) {
  margin-right: 10px;
}
.menu-list a {
  font-size: 1rem;
  font-family: "Montserrat";
  color: #fff;
  text-decoration: none;
}
.content-wrap {
  padding: 0 20px;
  /* max-width: 100%px; */
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.hide {
  display: none;
}
.logo.hidden-logo {
  margin-top: -50px;
  opacity: 0;
}
.content-header {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
.content-header p:not(:last-child) {
  padding-top: 2rem;
  font-family: "Montserrat";
}
.content-header a {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: #fff;
  text-decoration: none;
}
.text-about p:first-child {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
}
.text-about p {
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
  font-family: "Montserrat";
}

.skill-firstblock img {
  width: 224px;
  height: 218px;
  margin: 0 1.5rem;
}
.text-skill {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1.5rem;
}
.text-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 2rem;
}

.skill-firstblock {
  grid-column: 1 / 3;
}

.skill-secondblock {
  grid-column: 2 / 1;
}

.skill-thirdblock {
  margin-left: -50px;
  grid-column: 2 / 3;
}

.skill-firstblock img {
  width: 224px;
  height: 218px;
}

.skill-firstblock {
  text-align: center;
}
/* .skill-firstblock p {
  display: flex;
  justify-content: left;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1.5rem;
} */

.skill-secondblock {
  margin: 0 1.5rem;
}

.skill-secondblock p {
  padding-bottom: 1.7rem;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
}

.skill-thirdblock p {
  max-width: 80%;
  margin-bottom: 1.7rem;
  font-size: 0.7rem;
  font-family: "Montserrat";
}
.skill-thirdblock div {
  margin-bottom: 2rem;
}
.skill-thirdblock {
  padding-left: 25px;
}
.skill-bar {
  width: 70%;
  background-color: rgb(193, 187, 187);
  height: 12px;
}

.skill-level {
  height: 100%;
  line-height: 12px;
  text-align: right;
  padding-right: 2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: rgb(176, 80, 12);
  font-family: "Montserrat";
  font-size: 0.8rem;
}

/* Карточки */
.card img {
  width: 70rem;
  height: 40rem;
  background: transparent;
  border-radius: 100px;
}
.card {
  position: relative;
  width: 70rem;
  height: 40rem;
  box-sizing: border-box;
  transition: all 0.5s;
  border-radius: 100px;
}
.card-rotate {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  transform: scale(1);
  top: 0;
  left: 0;
}
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 1.9rem;
  transform: scale(0);
  top: 0;
  left: 0;
  background-color: #705252;
  border-radius: 100px;
  color: #fffedb;
  padding: 20px 40px;
}
.front-rotate {
  transform: rotateY(180deg) scale(0);
}
.back-rotate {
  transform: rotateY(180deg) scale(1);
}

.text-portfolio {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1.5rem;
}
.title-slider {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1.5rem;
}
/* слайдер */
.slider-container {
  width: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.slider-item {
  flex: 0 0 250px;
  height: 250px;
  position: relative;
  transform: rotateY(0deg);
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  transform: rotateY(0);
  transition: transform 0.5s;
  opacity: 0;
}
.slider-content a {
  transform: scaleX(-1);
  text-align: center;
  margin: 0.3rem;
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
}
.slider-content a:first-child {
  font-size: 1rem;
  font-weight: bold;
}
.slider-content a:nth-child(2) {
  margin-top: 1rem;
}
.slider-item:click .slider-content {
  transform: rotateY(180deg);
  opacity: 1;
}
.slider-controls {
  display: flex;
  margin-top: 2.5rem;
}
.prev-btn,
.next-btn {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  color: black;
}
.text-get-in-touch {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 6rem;
}
/* Футер */
.footer-text {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;
}

.footer-first-block {
  text-align: left;
}

.footer-first-block p {
  padding-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 1rem;
}
.footer-first-block a,
.footer-second-block a,
.footer-third-block a {
  text-decoration: none;
  color: black;
}
.footer-second-block p {
  padding-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 1rem;
}
.footer-first-block {
  text-align: center;
  grid-column: 1 / 2;
}

.footer-second-block {
  text-align: center;
  grid-column: 2 / 3;
}

.footer-third-block {
  justify-content: center;
  text-align: center;
  grid-column: 3 / 1;
}

.footer-third-block p {
  margin-bottom: 2.3rem;
  font-size: 1rem;
  font-family: "Montserrat";
}

.footer-third-block div {
  margin-bottom: 2.2rem;
}
.column-text {
  display: block;
  font-family: "Montserrat";
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.button-page-up {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1rem;
  cursor: pointer;
  animation: myAnimation 2s ease infinite;
}
@keyframes myAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* ДЛЯ ПК */
@media screen and (min-width: 800px) {
  .logo {
    display: flex;
    padding-top: 2rem;
    font-size: 3rem;
    padding-left: 0;
    justify-content: left;
    margin: 0 4rem;
  }
  .icons {
    display: none;
  }

  .menu-list {
    padding-top: 2.2rem;
    background: transparent;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .main-menu {
    /* position: fixed; */
    justify-content: right;
    opacity: 1;
    width: 95%;
  }
  .menu-list li {
    padding-right: 2rem;
  }
  .menu-list a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  .content-wrap {
    padding: 0 20px;
    /* max-width: 100%px; */
    margin: 0 auto;
  }
  .d-flex {
    display: flex;
  }
  .hide {
    display: none;
  }
  .hide-menu {
    position: static;
  }
  .content-header {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .content-header p:not(:last-child) {
    padding-top: 2rem;
    font-family: "Montserrat";
  }
  .content-header a {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-style: italic;
    font-family: "Montserrat";
    color: #fff;
    text-decoration: none;
  }
  .text-about p:first-child {
    display: flex;
    justify-content: left;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
  }
  .text-about p {
    display: flex;
    justify-content: center;
    margin: 0 6rem;
    font-size: 1.5rem;
    font-family: "Montserrat";
  }

  .skill-firstblock img {
    width: 400px;
    height: 400px;
    margin: 0 6rem;
  }
  .text-skill {
    display: flex;
    justify-content: left;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    margin: 0 6rem;
  }
  .text-skills {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 1rem;
  }

  .skill-firstblock {
    text-align: left;
  }

  .skill-firstblock p {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0 6rem;
  }
  /*   
  .skill-secondblock {
    text-align: center;
  } */

  .skill-secondblock p {
    padding-bottom: 2rem;
    font-family: "Montserrat";
    font-size: 1.5rem;
  }
  .skill-firstblock {
    grid-column: 1 / 2;
  }

  .skill-secondblock {
    grid-column: 2 / 3;
  }

  .skill-thirdblock {
    grid-column: 3 / 3;
  }

  .skill-thirdblock p {
    margin-bottom: 2.3rem;
    font-size: 1.5rem;
    font-family: "Montserrat";
  }

  .skill-thirdblock div {
    margin-bottom: 2.2rem;
  }

  .skill-bar {
    width: 70%;

    background-color: rgb(193, 187, 187);
    height: 24px;
  }

  .skill-level {
    height: 100%;
    line-height: 24px;
    text-align: right;
    padding-right: 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: rgb(176, 80, 12);
    font-family: "Montserrat";
    font-size: 1rem;
  }
  /* Слайдер */

  .text-portfolio {
    display: flex;
    justify-content: left;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    margin: 0 6rem;
  }
  .title-slider {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 6rem;
  }
  .slider-container {
    width: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  .slider-item {
    flex: 0 0 600px;
    height: 400px;
    position: relative;
    transform: rotateY(0deg);
  }
  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transform: rotateY(0);
    transition: transform 0.5s;
    opacity: 0;
  }
  .slider-content a {
    transform: scaleX(-1);
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
  }
  .slider-content a:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
  .slider-content a:nth-child(2) {
    margin-top: 1.5rem;
  }
  .slider-item:hover .slider-content {
    transform: rotateY(180deg);
    opacity: 1;
  }
  .slider-controls {
    display: flex;
    margin-top: 2.5rem;
  }
  .prev-btn,
  .next-btn {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: black;
  }
  .text-get-in-touch {
    display: flex;
    justify-content: left;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    margin: 0 6rem;
  }
  /* ФУТЕР */
  .footer-text {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    padding-top: 1rem;
  }

  .footer-first-block {
    text-align: left;
  }

  .footer-first-block p {
    padding-bottom: 2rem;
    font-family: "Montserrat";
    font-size: 1rem;
  }
  .footer-first-block a,
  .footer-second-block a,
  .footer-third-block a {
    text-decoration: none;
    color: black;
  }
  .footer-second-block p {
    padding-bottom: 2rem;
    font-family: "Montserrat";
    font-size: 1rem;
  }
  .footer-first-block {
    text-align: center;
    grid-column: 1 / 2;
  }

  .footer-second-block {
    text-align: center;
    grid-column: 2 / 3;
  }

  .footer-third-block {
    text-align: center;
    grid-column: 3 / 3;
  }

  .footer-third-block p {
    margin-bottom: 2.3rem;
    font-size: 1rem;
    font-family: "Montserrat";
  }

  .footer-third-block div {
    margin-bottom: 2.2rem;
  }
  .column-text {
    display: block;
    font-family: "Montserrat";
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .button-page-up {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    animation: myAnimation 2s ease infinite;
  }
  @keyframes myAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
